body{

    background-color: #e5eaf1;
    margin: 40px;
}
.selector-for-some-widget {
  box-sizing: content-box;
}
.background-menu{
    width: 97%;
    height: 100%;
    position: absolute;
    background: white;
    border-radius: 25px;
    top: 8%;

}
.title-name{
    text-align: center;
    position: absolute;
    top: -5%;
    font-weight: bold;
    font-size: 20px;

}

.cherta{
    position: absolute;
    height: 100%;
    width: 11%;
    background-color: #f7f8fa;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}
* {box-sizing: border-box; margin: 0;}
.widget {
  padding: 15px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}
.widget h3 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  
}
.widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 250px;
}
.widget li {
  border-radius: 10px;
  padding: 7px;
  margin: 7px;
}
.widget li:hover{
    background-color:#e5eaf1;
}
.widget li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.widget a {
  text-decoration: none;
   color:  #616a6b;
  display: inline-block;
}
.widget li:before {
    font-family: FontAwesome;
    font-size: 15px;
    vertical-align:bottom;
    margin-right: 14px;
}
.widget li:nth-child(1):before {content:"\f017";}
.widget li:nth-child(2):before {content:"\f03e";}
.widget li:nth-child(3):before {content:"\f03d";}
.widget li:nth-child(4):before {content:"\f001";}
.widget li:nth-child(5):before {content:"\f15b";}
.widget li:nth-child(6):before {content:"\f2ed";}
.btn{
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 10px;
    width: 230px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    border-color: white;
    border: none;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    font-family: FontAwesome;
    font-size: 15px;
    
}
.btn:hover{
    background-color: #e5eaf1;
}
.btn:nth-child(1):before {content: "\f019";}